<section >
    <div style="text-align: center;color:red;background-color: rgb(255, 245, 241);"><h1>About US</h1></div>
    <div class="container1 nt1">
        <div >
            <img src="../../assets/Images/about1.jpg" data-aos="fade-right">
        </div>
        <div class="container-content a" data-aos="fade-left">
                    <h1>Bike Sharing</h1>
                    <p> Want to have a "Budget Friendly" ride with more comfort and safety ....Just try this to experince a affordable ride to reach the destination with in a short time.  </p>
                    <a href="">click here</a>
        </div>
    </div>
    <div class="container1   nt1 ">
        <div class="container-content a" data-aos="fade-right">
            <h1>Car Sharing </h1>
            <p> Many people have cars they barely use daily. Luckily, by using our website can save people money and energy while providing them with a ride.and making them to feel more comfortable..
            </p>
             <a href="">click here</a>
        </div>
        <div >
            <img class="space" src="../../assets/Images/about2.jpg" data-aos="fade-left" >
        </div>
    </div>
</section>
