.container1{
    background-color:#A5A5A1;
    display: flex;
}

.container1 .container-content h1{
    color: rgb(213, 161, 147);
    font-style: italic;
    font-size: 2rem;
    margin-right: 20%;
}
img{
    width: 500px;
    height: 300px;
 border-radius: 1rem; 
}
.space{
    width: 500px;
    height: 300px;
}
.container1 .container-content P{
    
text-align: center;
max-width: 80%;
padding-left: 20%;
}
.container1 .container-content1 P{
    width: 80%;
    padding-left: 20%;
    text-align: center;
    }
.container1 .container-content{
    text-align: center;
    padding-top: 5%;
}
.container1 .container-content1{
    padding-top: 5%;
}
.container1 .container-content1 h1{
    padding-left: 40%;
}
.container1 .container-content a{
    text-decoration: solid;
    font-weight: 600;
    font-size: 20px;
    color: rgb(209, 160, 149);
}
.container1 .container-content1 a{
    text-decoration: solid;
    font-size: 20px;
    color: rgb(209, 160, 149);
    padding-left: 45%;
}
.nt1
{
    background-color: rgb(255, 245, 241); 
}
@media (max-width:768px){
    .container1{
        display: flex;

    }
}
@media (max-width:1200px){
    .container1{
        display: flex;
        flex-direction: column;
    }
    img{
        width: 300px;
        height: 200px;
    }
    .space{
        width: 300px;
        height: 200px;
    }
}

/* section img{
    width: 500px;
    height: 300px;
} */
/* section{
    color: rgb(213, 161, 147);
}
.nt1{
    display: flex;
}
section .a{
    text-align: center;
    padding-top: 5%;
}
section .a p{
    max-width: 80%;
    margin-left: 5%;
}
section img{
    width:400px;
    height: 300px;
} */
