/* section {
    background-color: rgb(170,223,255);
    height: 100vh;
    font-family: sans-serif;
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .login {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    width: 350px;
    border: 5px double #333;
    color: #0e0d0d;
    border-radius: 0px 50px 0px 50px;
    backdrop-filter: blur(20px);
    padding: 40px;
    margin-left: 20%;
  }
  .login img {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
  }
  h3 {
    padding: 0 0 20px;
    color: #fff;
    text-align: center;
  }
  .details{
      display: flex;
      flex-direction: column;
      align-items: center;  
  }

  .login input {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
    outline:auto;
    height: 40px;
    color: #100e0e;
    background: transparent;
    font-size: 16px;
    padding-left: 10px;
    box-sizing: border-box;
    -webkit-text-fill-color: black;
  }
  button{
    font-weight: bold;
    padding: 10px;
  }
  @media (max-width: 767px) {
      .login{
          left: 30%;
          width:300px;
      }
  } */

  /* section {
    margin-left: 0%;
    margin-top: 0%;
    padding:0%;
    background-color:#e2d7d7 ;
    /* background-image: url(../../assets/Images/login_bg.jpg); 
    /* background-image: linear-gradient(to bottom,rgba(84, 181, 175, 1),rgba(255, 255, 255, 1)); 
    height: 100vh;
    font-family: sans-serif;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
  red
  } */
  

  .outer{
    display: flex;
    padding: 10% 0% 10% 12%;
    background-color: rgb(170,223,255);
}
form{
    margin-top: 100px;
}
.f{
    border:5px double #0e0d0d;
    width: 500px;
    height: 400px;
    text-align: center;
    border-radius:0px 100px 0px 100px;
    padding-top: 20px;
    backdrop-filter: blur(20px);
    color: #0e0d0d;
    margin-left: 15%;
}
.f input{
  padding-bottom: 10px;
}
.f .a{
    width: 50%;
    text-align: center;
    margin-left: 25%;
}
.f a{
    color: red;
    cursor:pointer;
}
.f .form-group{
  padding-top: 10px;
}

@media (max-width:769px) {
    img{
        width:300px;
    }
     .f{
         border-radius:0px 40px 0px 40px;
         font-size: 13px;
         max-width: 100%;
         margin-left: 0%;
     }
     .outer{
        display:flex ;
        flex-direction: column;
        padding: 10% 0% 10% 8%;
     }
}