<section >
    <div class="login">
        <img src="../../assets/Images/avatar.jpg" height="100px" width="100px" style="border-radius: 100px;">
        <h3>Login</h3>
        
        <form >
            <div class="details"> 
                <input class='form-control ' name="Email" type="email" placeholder="Email">
                <input  name="Password"  type="password" placeholder="Password"> 
                <button class="btn btn-dark" (click)="a()">login</button>
              </div> 
            <p style="color: #b80c43; text-align: center;">Don't have an account? 
                <a routerLink="/signup" style="color: #fff;"> Sign-Up</a></p>
                
        </form>
        
    </div>
    </section>
