
<h1 style="text-align: center;color: #fff; background-color: rgb(16, 71, 108);">Available Rides</h1>
<ul class="ride-list">
    <li class="ride">
      <div class="title">
        <img src="../../assets/Images/car.png" alt="" width="200px">
        Ride 1
      </div>
      <div class="details">
      <p>Pickup: kakinada</p>
      <p>Dropoff: Rajahmundry</p>
      <p>Price: 150/-</p>
    </div>
    <button class="btn btn-primary b">connect</button>
    </li>
    
    
    <li class="ride">
      <div class="title">
        <img src="../../assets/Images/car.png" alt="" width="200px">
        Ride 2</div>
      <div class="details">
      <p>Pickup: Vijayawada</p>
      <p>Dropoff:Eluru</p>
      <p>Price: 200/-</p>
    </div>
    <button class="btn btn-primary b">connect</button>
    </li>
    
    <li class="ride">
      <div class="title">
        <img src="../../assets/Images/car.png" alt="" width="200px">
        Ride 3</div>
      <div class="details">
      <p>Pickup: Vishakapatnam</p>
      <p>Dropoff:Rajahmundry</p>
      <p>Price: 500/-</p>
    </div>
    <button class="btn btn-primary b">connect</button>
    </li>
    <li class="ride">
        <div class="title">
          <img src="../../assets/Images/car.png" alt="" width="200px">
          Ride 4</div>
        <div class="details">
        <p>Pickup: Vishakapatnam</p>
        <p>Dropoff:Rajahmundry</p>
        <p>Price: 600/-</p>
      </div>
      <button class="btn btn-primary b">connect</button>
      </li>
      <li class="ride">
        <div class="title">
          <img src="../../assets/Images/car.png" alt="" width="200px">
          Ride 5</div>
        <div class="details">
        <p>Pickup:Rajahmundry</p>
        <p>Dropoff: Vishakapatnam</p>
        <p>Price: 300/-</p>
      </div>
      <button class="btn btn-primary b">connect</button>
      </li>
  </ul>
