body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .ride {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 0%;
    background-color: #f3e5b4;
    /* color:#fff; */
    display: flex;
    justify-content: space-between;
  }
  
  .ride .title {
    font-weight: bold;
  }

  .ride .details {
    font-style: italic;
    font-weight: bold;
  }
  .b{
    width:100px;
    height: 50px;
    padding: 5px;
    margin-top:2%;
  }
  @media (max-width:767px){
    .ride{
      display: flex;
      flex-direction: column;
      margin: 0%;
      margin-bottom: 10px;
    }
    .b{
      width:100px;
      height: 50px;
      padding: 5px;
      margin-top:2%;
    }
    .title img{
      width:100px;
    }
  }