<div class="project">
    <div class="image">
        <img src="https://s3-alpha-sig.figma.com/img/08da/2927/a5c4cd0f98480112e3bb801c9eaca404?Expires=1687737600&Signature=XZG52QCtRAhCiFsLF3uqfYR3SGYlaEkUk7OEyM5x7PCrP88wY5v8afC1-e-i9WprJV32OipveMCk1bTSTY9Ki5wz1LKbUyIR6RcBpRSMBv9YDxPPMHlbnjUgFuZu44VG9WrrXtDWsQhpUJ~jFeq0jaRQgKHX47MBsAW9TfiM4frVHkaamqPyVIx8pckQsUSSmnWr~IAJQsGTIH-z4vvjNCihbfm2fef347M0ek~h9ewYOpTebKWzsQUvro7OV11cU74WUqwAmwpLasy~q-bKzSu1DAtq5o-~FHGl5NCe6dB441NxjPUZrIfjloej7CwymZ3724kIZK0uqHp2yvyj-A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4">
    </div>
    <div class="abc">
        <p>Ride Posted Successfully...!!!!</p>
    </div>
    <div class="cba">
        <p>Thank you for choosing us...😊</p>
    </div>
    <button class="btn btn-primary">HOME</button>
</div>