.project{
    background-color: rgb(170,223,255);
    padding: 12%;
}
.image{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 530px;
    top: 50px;
    display: flex;
}
.abc{
    position: absolute;
    width: 755px;
    height: 15px;
    left: 390px;
    top: 320px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 15px;
    color: #000000;
}
.cba{
    position: absolute;
    width: 718px;
    height: 128px;
    left: 400px;
    top: 400px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 15px;
    color: #000000;
}
button{
    margin-left: 40%;
    margin-top:30%; 
}