h1{
    position: absolute;
    top:40%;
    left:20%;
    max-width: 60%;
    z-index: 1;
    color: #fff;
    font-size: 3rem;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
span{
    color: red;
}
button{
    z-index:1;
    position: absolute;
    /* margin-top:32%;
    margin-left: 25%; */
}
@media (max-width:768px){
    h1{
        position: absolute;
        top:40%;
        left:20%;
        max-width: 80%;
        z-index: 1;
        color: #fff;
        font-size: 1rem;
        text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    }
}