<!-- <div class="outlet"> -->
    <form action="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="outer">
    <div class="outlet">
    <div class="heading text-center m-1">
        <h1><span>P</span>rovide <span>T</span>he <span>B</span>elow <span>D</span>etails</h1>
    </div>
    <div class="d-flex flex-row justify-content-center m-1 b">
    <div class=" h1">
        <h1>From:</h1>
        <input type="text" placeholder="source"/>
    </div>
     <div class="h1">
        <h1>To :</h1>
        <input type="text" placeholder="Destination"/>
    </div>
</div>
 <div class="d-flex flex-row justify-content-center m-1">
    <div class=" h1">
        <h1>Date :</h1>
        <input type="text" placeholder="date of journey"/>
    </div>
    
    <div class=" h1">
        <h1>Vehicle :</h1>
       
        <input type="text" placeholder="Vehicle Type"/>
    </div>
</div>
<div class="d-flex flex-row justify-content-center m-1">
<div class="m-4 h1">
    <h1>No. of Vacancies</h1>
   
    <input type="text" placeholder="No .of Vacancies"/>
</div>
</div>
<div class="d-flex justify-content-center">
    <button class="button" routerLink="/success">Post a ride</button>
</div>
</div>
</div>
</form>

