.outer{
  display: flex;
  background-color: rgb(190,220,238);
  padding: 8% 25% 6% 12.2% ;
}
.outer .f{
  width:800px;
  height: 300px;
  border: 4px solid #333;
  border-radius:0px 100px 0px 100px;
  margin-top:5%;
}
.outer .f button{
    margin: 15% 0% 0% 25%;
    width: 50%;
    height: 20%;
}
img{
  width:700px;
  height: 500px;
}
.outer .img marquee{
  font-family:'Lucida Sans';
  font-style: italic;
  font-size: 2rem;
  color: rgb(9, 9, 9);
 }
 @media  (max-width:1200px) {
  .outer{
    display: flex;
    flex-direction: column;
    padding:0% 10% 40% 0%;
  }
  .outer .f{
    width:300px;
    height: 200px;
  }
  img{
    width: 300px;
    height: 300px;
  }
  .outer .img marquee{
    font-size: 1rem;
  }
 }