<!-- 
<button >post a ride</button>
<button >find a ride</button>
<router-outlet></router-outlet> -->
<app-nav></app-nav>
<div class="outer">
    <div class="img">
      <img [src]="ig" class="float-left" alt="" data-aos="fade-right">
      <marquee> RETHINK YOUR RIDE REDEFINE YOUR JOURNEY  </marquee>
    </div>
      <div class="f" data-aos="fade-left">
        <button type="button" class="btn btn-danger" (click)="a()">POST A RIDE</button><br>
        <button type="button" class="btn btn-danger" (click)="b()">FIND A RIDE</button>
      </div>
<div>
<div class="m"></div>
